body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
}

.background-image {
    width: 80%;
    height: auto;
}

.icon1, .icon2, .icon3,.icon4, .icon5, .icon6  {
    position: absolute;
    display:block;
    width: 50px; /* Ajustez la taille de l'icône */
    height: 50px; /* Ajustez la taille de l'icône */
    z-index: 1;
    font-size: 25px;
}

.icon1 {
    top: 37%; /* Ajustez la position verticale */
    left: 47%; /* Ajustez la position horizontale */
    color:red;
}

.icon2 {
    top: 43%;
    left: 37%;
}

.icon3 {
    top: 51%;
    left: 47%;
}
.icon4 {
    top: 58%;
    left: 47%;
}
.icon5 {
    top: 66%;
    left: 47%;
}
.icon6 {
    top: 73%;
    left: 47%;
}