body {
    margin: 0;
    padding: 0;
}

.container {
    position: center;
}

.background-image {
    width: 80%;
    height: auto;
}

.icon1, .icon2, .icon3,.icon4, .icon5, .icon6,.icon7,.icon8 {
    position: absolute;
    display:block;
    
 
}
.icon7 {
    top: 11%; /* Ajustez la position verticale */
    left: 40%; /* Ajustez la position horizontale */
   
  
}
.icon1 {
    top: 36%; /* Ajustez la position verticale */
    left: 40%; /* Ajustez la position horizontale */
   
  
}

.icon2 {
    top: 44%;
    left: 40%;
}

.icon3 {
    top: 50%;
    left: 40%;
}
.icon4 {
    top: 57%;
    left: 40%;
}
.icon5 {
    top: 64%;
    left: 40%;
}
.icon6 {
    top: 71%;
    left: 40%;
}
.icon8 {
    top: 78%; /* Ajustez la position verticale */
    left: 40%; /* Ajustez la position horizontale */
   
  
}